/* 新規投稿画面におけるcssデザインを記載 */



/* nickname　入力フォーム */
form input[id="tweet_name"] {
  margin: 70px 10px 5px 10px ;
}

/* Image URL */
form input[id="tweet_image"] {
  margin: 5px 10px;
}

/*  */
form textarea[id="tweet_text"] {
  margin: 5px 10px;
}


/* 投稿ボタン */


form input[type="submit"] {
  position: relative;
  margin: 15px;
  display: inline-block;
  font-weight: bold;
  font-size: 25px;
  padding: 0.25em 0;
  text-decoration: none;
  color: #0cb6ad;  
}

form input[type="submit"]:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  top:100%;
  left: 0;
  border-radius: 3px;
  background:#0cb6ad;
  transition: .2s;
}

form input[type="submit"]:hover:before {
  top: -webkit-calc(100% - 3px);
  top: calc(100% - 3px);
}